{
  "components" : {
    "schemas" : {
      "mainComponent" : {
        "xml" : {
          "name" : "mainComponent"
        },
        "type" : "object",
        "properties" : {
          "wheelchair_boarding" : {
            "type" : "integer",
            "example" : 2
          },
          "zone_id" : {
            "type" : "string",
            "example" : "A"
          },
          "stop_lon" : {
            "type" : "string",
            "example" : -3.77462
          },
          "stop_id" : {
            "type" : "string",
            "example" : "par_4_202"
          },
          "stop_code" : {
            "type" : "integer",
            "example" : 202
          },
          "stop_lat" : {
            "type" : "string",
            "example" : 40.39698
          },
          "stop_url" : {
            "type" : "string",
            "example" : "http://www.crtm.es"
          },
          "stop_desc" : {
            "type" : "string",
            "example" : ""
          },
          "stop_timezone" : {
            "type" : "string",
            "example" : "Europe/Madrid"
          },
          "stop_name" : {
            "type" : "string",
            "example" : "COLONIAJARDIN"
          },
          "location_type" : {
            "type" : "integer",
            "example" : 0
          },
          "parent_station" : {
            "type" : "string",
            "example" : ""
          }
        }
      }
    }
  },
  "servers" : [ {
    "url" : "http://www.urlprueba.com/v1"
  } ],
  "openapi" : "3.0.0",
  "paths" : {
    "/stop_name/{stop_name}" : {
      "get" : {
        "summary" : "GET stop_name",
        "operationId" : "getstop_name",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_name",
          "description" : "stop_name",
          "required" : true
        } ]
      }
    },
    "/parent_station/{parent_station}" : {
      "get" : {
        "summary" : "GET parent_station",
        "operationId" : "getparent_station",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "parent_station",
          "description" : "parent_station",
          "required" : true
        } ]
      }
    },
    "/stop_lon/{stop_lon}" : {
      "get" : {
        "summary" : "GET stop_lon",
        "operationId" : "getstop_lon",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_lon",
          "description" : "stop_lon",
          "required" : true
        } ]
      }
    },
    "/wheelchair_boarding/{wheelchair_boarding}" : {
      "get" : {
        "summary" : "GET wheelchair_boarding",
        "operationId" : "getwheelchair_boarding",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "wheelchair_boarding",
          "description" : "wheelchair_boarding",
          "required" : true
        } ]
      }
    },
    "/stop_url/{stop_url}" : {
      "get" : {
        "summary" : "GET stop_url",
        "operationId" : "getstop_url",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_url",
          "description" : "stop_url",
          "required" : true
        } ]
      }
    },
    "/stop_timezone/{stop_timezone}" : {
      "get" : {
        "summary" : "GET stop_timezone",
        "operationId" : "getstop_timezone",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_timezone",
          "description" : "stop_timezone",
          "required" : true
        } ]
      }
    },
    "/stop_desc/{stop_desc}" : {
      "get" : {
        "summary" : "GET stop_desc",
        "operationId" : "getstop_desc",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_desc",
          "description" : "stop_desc",
          "required" : true
        } ]
      }
    },
    "/stop_code/{stop_code}" : {
      "get" : {
        "summary" : "GET stop_code",
        "operationId" : "getstop_code",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_code",
          "description" : "stop_code",
          "required" : true
        } ]
      }
    },
    "/" : {
      "get" : {
        "summary" : "GET stopsmetro",
        "operationId" : "getstopsmetro",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_id",
          "description" : "stop_id"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_code",
          "description" : "stop_code"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_name",
          "description" : "stop_name"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_desc",
          "description" : "stop_desc"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_lat",
          "description" : "stop_lat"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_lon",
          "description" : "stop_lon"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "zone_id",
          "description" : "zone_id"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_url",
          "description" : "stop_url"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "location_type",
          "description" : "location_type"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "parent_station",
          "description" : "parent_station"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "stop_timezone",
          "description" : "stop_timezone"
        }, {
          "schema" : {
            "type" : "string"
          },
          "in" : "query",
          "name" : "wheelchair_boarding",
          "description" : "wheelchair_boarding"
        } ]
      }
    },
    "/location_type/{location_type}" : {
      "get" : {
        "summary" : "GET location_type",
        "operationId" : "getlocation_type",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "location_type",
          "description" : "location_type",
          "required" : true
        } ]
      }
    },
    "/zone_id/{zone_id}" : {
      "get" : {
        "summary" : "GET zone_id",
        "operationId" : "getzone_id",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "zone_id",
          "description" : "zone_id",
          "required" : true
        } ]
      }
    },
    "/stop_id/{stop_id}" : {
      "get" : {
        "summary" : "GET stop_id",
        "operationId" : "getstop_id",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_id",
          "description" : "stop_id",
          "required" : true
        } ]
      }
    },
    "/stop_lat/{stop_lat}" : {
      "get" : {
        "summary" : "GET stop_lat",
        "operationId" : "getstop_lat",
        "description" : "Use value 'all' in a parameter for non-empty values",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/mainComponent"
                  }
                }
              }
            }
          }
        },
        "parameters" : [ {
          "schema" : {
            "type" : "string"
          },
          "in" : "path",
          "name" : "stop_lat",
          "description" : "stop_lat",
          "required" : true
        } ]
      }
    }
  },
  "info" : {
    "description" : "Obtaining the stopsmetro",
    "title" : "stopsmetro",
    "version" : "1.0.0"
  }
}
