---
swagger: "2.0"
info:
  description: "Obtaining the stopsmetro"
  version: "1.0.0"
  title: "stopsmetro"
host: "www.urlprueba.com"
basePath: "/RunningExample"
schemes:
- "https"
paths:
  /:
    get:
      summary: "GET stopsmetro"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstopsmetro"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_id"
        in: "query"
        description: "stop_id"
        required: false
        type: "string"
      - name: "stop_code"
        in: "query"
        description: "stop_code"
        required: false
        type: "string"
      - name: "stop_name"
        in: "query"
        description: "stop_name"
        required: false
        type: "string"
      - name: "stop_desc"
        in: "query"
        description: "stop_desc"
        required: false
        type: "string"
      - name: "stop_lat"
        in: "query"
        description: "stop_lat"
        required: false
        type: "string"
      - name: "stop_lon"
        in: "query"
        description: "stop_lon"
        required: false
        type: "string"
      - name: "zone_id"
        in: "query"
        description: "zone_id"
        required: false
        type: "string"
      - name: "stop_url"
        in: "query"
        description: "stop_url"
        required: false
        type: "string"
      - name: "location_type"
        in: "query"
        description: "location_type"
        required: false
        type: "string"
      - name: "parent_station"
        in: "query"
        description: "parent_station"
        required: false
        type: "string"
      - name: "stop_timezone"
        in: "query"
        description: "stop_timezone"
        required: false
        type: "string"
      - name: "wheelchair_boarding"
        in: "query"
        description: "wheelchair_boarding"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /location_type/{location_type}:
    get:
      summary: "GET location_type"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getlocation_type"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "location_type"
        in: "path"
        description: "location_type"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /parent_station/{parent_station}:
    get:
      summary: "GET parent_station"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getparent_station"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "parent_station"
        in: "path"
        description: "parent_station"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_code/{stop_code}:
    get:
      summary: "GET stop_code"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_code"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_code"
        in: "path"
        description: "stop_code"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_desc/{stop_desc}:
    get:
      summary: "GET stop_desc"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_desc"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_desc"
        in: "path"
        description: "stop_desc"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_id/{stop_id}:
    get:
      summary: "GET stop_id"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_id"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_id"
        in: "path"
        description: "stop_id"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_lat/{stop_lat}:
    get:
      summary: "GET stop_lat"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_lat"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_lat"
        in: "path"
        description: "stop_lat"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_lon/{stop_lon}:
    get:
      summary: "GET stop_lon"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_lon"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_lon"
        in: "path"
        description: "stop_lon"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_name/{stop_name}:
    get:
      summary: "GET stop_name"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_name"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_name"
        in: "path"
        description: "stop_name"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_timezone/{stop_timezone}:
    get:
      summary: "GET stop_timezone"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_timezone"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_timezone"
        in: "path"
        description: "stop_timezone"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /stop_url/{stop_url}:
    get:
      summary: "GET stop_url"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getstop_url"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "stop_url"
        in: "path"
        description: "stop_url"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /visualization:
    get:
      summary: "GET visualization charts"
      description: "Get visualization charts of the data"
      operationId: "getvisualization"
      produces:
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /wheelchair_boarding/{wheelchair_boarding}:
    get:
      summary: "GET wheelchair_boarding"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getwheelchair_boarding"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "wheelchair_boarding"
        in: "path"
        description: "wheelchair_boarding"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /zone_id/{zone_id}:
    get:
      summary: "GET zone_id"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getzone_id"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum number of results"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Starting index for results"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "Visualization of the data via charts"
        required: false
        type: "string"
      - name: "zone_id"
        in: "path"
        description: "zone_id"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
definitions:
  mainComponent:
    type: "object"
    properties:
      wheelchair_boarding:
        type: "integer"
        example: 2
      zone_id:
        type: "string"
        example: "A"
      stop_lon:
        type: "string"
        example: "minus3.77462"
      stop_id:
        type: "string"
        example: "par_4_202"
      stop_code:
        type: "integer"
        example: 202
      stop_lat:
        type: "string"
        example: "40.39698"
      stop_url:
        type: "string"
        example: "http:__www.crtm.es"
      stop_desc:
        type: "string"
        example: ""
      stop_timezone:
        type: "string"
        example: "Europe_Madrid"
      stop_name:
        type: "string"
        example: "COLONIAJARDIN"
      location_type:
        type: "integer"
        example: 0
      parent_station:
        type: "string"
        example: ""
    xml:
      name: "mainComponent"
