---
swagger: "2.0"
info:
  description: "Obtaining the data"
  version: "1.0.0"
  title: "data"
host: "metro.com"
basePath: "/madrid"
schemes:
- "https"
paths:
  /:
    get:
      summary: "GET data"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "getdata"
      produces:
      - "application/json"
      parameters:
      - name: "stationName"
        in: "query"
        description: "stationName"
        required: false
        type: "string"
      - name: "about"
        in: "query"
        description: "about"
        required: false
        type: "string"
      - name: "hasEscalator"
        in: "query"
        description: "hasEscalator"
        required: false
        type: "string"
      - name: "hasLift"
        in: "query"
        description: "hasLift"
        required: false
        type: "string"
      - name: "hasTravelator"
        in: "query"
        description: "hasTravelator"
        required: false
        type: "string"
      - name: "transfer"
        in: "query"
        description: "transfer"
        required: false
        type: "string"
      - name: "lineAbout"
        in: "query"
        description: "lineAbout"
        required: false
        type: "string"
      - name: "lineID"
        in: "query"
        description: "lineID"
        required: false
        type: "string"
      - name: "lineName"
        in: "query"
        description: "lineName"
        required: false
        type: "string"
      - name: "routeService"
        in: "query"
        description: "routeService"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /about/{about}:
    get:
      summary: "about"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "about"
      produces:
      - "application/json"
      parameters:
      - name: "about"
        in: "path"
        description: "about"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /hasEscalator/{hasEscalator}:
    get:
      summary: "hasEscalator"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "hasEscalator"
      produces:
      - "application/json"
      parameters:
      - name: "hasEscalator"
        in: "path"
        description: "hasEscalator"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /hasLift/{hasLift}:
    get:
      summary: "hasLift"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "hasLift"
      produces:
      - "application/json"
      parameters:
      - name: "hasLift"
        in: "path"
        description: "hasLift"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /hasTravelator/{hasTravelator}:
    get:
      summary: "hasTravelator"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "hasTravelator"
      produces:
      - "application/json"
      parameters:
      - name: "hasTravelator"
        in: "path"
        description: "hasTravelator"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /lineAbout/{lineAbout}:
    get:
      summary: "lineAbout"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "lineAbout"
      produces:
      - "application/json"
      parameters:
      - name: "lineAbout"
        in: "path"
        description: "lineAbout"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /lineID/{lineID}:
    get:
      summary: "lineID"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "lineID"
      produces:
      - "application/json"
      parameters:
      - name: "lineID"
        in: "path"
        description: "lineID"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /lineName/{lineName}:
    get:
      summary: "lineName"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "lineName"
      produces:
      - "application/json"
      parameters:
      - name: "lineName"
        in: "path"
        description: "lineName"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /routeService/{routeService}:
    get:
      summary: "routeService"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "routeService"
      produces:
      - "application/json"
      parameters:
      - name: "routeService"
        in: "path"
        description: "routeService"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /stationName/{stationName}:
    get:
      summary: "stationName"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "stationName"
      produces:
      - "application/json"
      parameters:
      - name: "stationName"
        in: "path"
        description: "stationName"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
  /transfer/{transfer}:
    get:
      summary: "transfer"
      description: "Use value 'all' in a parameter for non-empty values"
      operationId: "transfer"
      produces:
      - "application/json"
      parameters:
      - name: "transfer"
        in: "path"
        description: "transfer"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/COLUMNS"
      x-swagger-router-controller: "Default"
definitions:
  COLUMNS:
    type: "object"
    required:
    - "stationName"
    properties:
      stationName:
        type: "string"
        example: "Plaza de Castilla"
      about:
        type: "string"
        example: "https://www.metromadrid.es//es/viaja_en_metro/red_de_metro/estaciones/Plaza_Castilla.html"
      hasEscalator:
        type: "string"
        example: "TRUE"
      hasLift:
        type: "string"
        example: "TRUE"
      hasTravelator:
        type: "string"
        example: "FALSE"
      transfer:
        type: "string"
        example: " Autobuses Interurbanos"
      lineAbout:
        type: "string"
        example: "https://www.metromadrid.es//es/viaja_en_metro/red_de_metro/lineas_y_horarios/linea09.html"
      lineID:
        type: "string"
        example: "N15c3932d937e4e1b8cb30623cd1d55a9"
      lineName:
        type: "string"
        example: "LÃ­nea 9"
      routeService:
        type: "string"
        example: "https://www.metromadrid.es/es/index.html"
    xml:
      name: "COLUMNS"
